/* Configuracion para toda la pagina */
html {
     font-family: 'Puritan', sans-serif;
     font-size: 2vw;
     color: white;
}

/* Configuracion para todo el body */
body {
     margin: 0%;
     border: 0%;
     background-color: #ffffff;
     padding: 4% 0% 0% 0%;
}

.link {
     text-decoration: none;
     font-size: 100%;
     color: rgb(255, 255, 255);
     padding: 1em;
}

/* Configuracion para la barra superior */
#superior {
     position: fixed;
}

#barraSuperior {
     background-color: hwb(0 0% 100%);
     height: 6vw;
     position: fixed;
     width: 100%;
     top: 0%;
     left: 0%;
     border-style: solid;
     border-left-width: 0px;
     border-top-width: 0px;
     border-right-width: 0px;
     border-width: 0vw 0vw 0.3vw 0vw;
     border-color: #bebebe;
     padding: 1vw 0vw;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#logoMenu {
     padding: 0vw 2vw;
     width: 5vw;
     height: 4vw;
}

#logoWokBarraSuperior {
     width: 12vw;
}

.iconoWOK {
     display: flex;
     align-items: flex-end;
     justify-content: center;
     height: 4vw;
}

#linksPaginas {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     border: 5vw;
     flex-grow: 2;
}

#tituloPagina {
     padding-left: 2vw;
}

#tituloPagina div {
     background-color: red;
     height: 1.5vw;
     padding: 2vw;
     margin-top: 4vw;
     display: flex;
     align-items: center;
}

#tituloPagina p {
     font-weight: bold;
}




#wokIzakaya {
     padding: 12vw 0vw 4vw 0vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(0, 0, 0);
}

#textBlanco {
     padding: 5% 35%;
     margin: 0vw;
     color: rgb(255, 255, 255);
     font-size: 2vw;
     display: flex;
     align-items: center;
}

#textBlanco p {
     text-align: justify;
}


#tituloIzakaya {
     background-color: red;
     height: 15vw;
     width: 40vw;
     display: flex;
     justify-content: center;
}

#tituloIzakaya p {
     font-size: 5vw;
     font-weight: bold;
}

#containerQueEsIzakaya {
     padding: 4vw 0vw 0vw 0vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

#titulo {
     text-align: center;
     padding: 0vw;
}

#textoNegro {
     padding: 5% 35%;
     margin: 0vw;
     color: rgb(0, 0, 0);
     font-size: 1.5vw;
     display: flex;
     align-items: center;
}

#containerQueEsIzakaya {
     display: flex;
     flex-direction: row;
}

#tituloQueIzakaya {
     text-align: left;
     padding: 4vw 5vw 0vw 5vw;
}

#tituloQueIzakaya p {
     padding: 0vw;
     margin: 0vw;
     color: black;
     font-weight: bold;
     font-size: 6vw;
}

#infoTextoIzakaya {
     padding: 4vw 5vw 0vw 5vw;
     color: rgb(0, 0, 0);
     font-size: 1.5vw;
}

#aux3 {
     width: 70%;
}

#beneficios {
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 2vw 4vw 2vw 2vw;
}

.beneficio {
     display: flex;
     flex-direction: row;
     align-items: center;
}

.beneficio img {
     width: 3vw;
     height: 3vw;
     padding: 0vw 3vw 0vw 0vw;
}

#textoNegro2 {
     margin: 0vw;
     color: rgb(0, 0, 0);
     font-size: 1.5vw;
     display: flex;
     align-items: center;
}

#imageMap {
     width: 100%;
     height: 100%;
}

#containersInfoContacto {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

#infoContacto {
     width: 50%;
     background-color: black;
     height: 18vw;
}

#contactos {
     padding: 2vw;
}

#contacto {
     display: flex;
     flex-direction: row;
}

.iconosContacto {
     width: 1.4vw;
     height: 2vw;
     margin: 2vw;
     padding: 0vw .5vw 0vw 0vw;
}

#horarios {
     width: 50%;
     background-color: red;
     height: 18vw;
}

#textoBlanco2 {
     padding-left: 3vw;
}




#containerFeliz {
     padding: 0vw;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

#infoTexto {
     padding: 2vw 6vw;
     display: flex;
     flex-direction: column;
}

#tituloFeliz p {
     padding: 0vw;
     margin: 0vw;
     color: rgb(255, 0, 0);
     font-weight: bold;
     font-size: 4vw;
}

#textoBlackFeliz p {
     padding: 0vw;
     margin: 0vw;
     color: black;
     text-align: justify;
     font-size: 3.5vw;
}

#image img {
     width: 55vw;
     height: 40vw;
}

/*-----------------------------------------------------*/
/* configuracion de barra inferior*/
.barraInferior {
     height: 10vw;
     background-color: rgb(0, 0, 0);
     color: black;
     width: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-style: solid;
     border-left-width: 0vw;
     border-top-width: 0.18vw;
     border-right-width: 0vw;
     border-width: 0%;
     border-color: #bebebe;
}

.objetosBarraInferior {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     border: 4vw;
     flex-grow: 2;
}

.redes {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border: 6vw;
     flex-grow: 2;
}

.integrantes {
     padding: 0vw 6vw;
}

.integrantes p {
     font-size: 1.8vw;
}

#logoWokBarraInferior {
     width: 15vw;
}

.redes div {
     padding: 1vw;
}

.redes div img {
     width: 4vw;
}