/* Configuracion para toda la pagina */
html {
     font-family: 'Puritan', sans-serif;
     font-size: 1.5vw;
     color: white;
}

/* Configuracion para todo el body */
body {
     margin: 0%;
     border: 0%;
     background-color: #ffffff;
     padding: 4% 0% 0% 0%;
}

.link {
     text-decoration: none;
     font-size: 100%;
     color: rgb(255, 255, 255);
     padding: 1em;
}

/* Configuracion para la barra superior */
#superior {
     position: fixed;
}

#barraSuperior {
     background-color: hwb(0 0% 100%);
     height: 3vw;
     position: fixed;
     width: 100%;
     top: 0%;
     left: 0%;
     border-style: solid;
     border-left-width: 0px;
     border-top-width: 0px;
     border-right-width: 0px;
     border-width: 0vw 0vw 0.3vw 0vw;
     border-color: #bebebe;
     padding: 1vw 0vw;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#logoMenu {
     padding: 0vw 2vw;
     width: 2.5vw;
     height: 2vw;
}

#logoWokBarraSuperior {
     width: 12vw;
}

.iconoWOK {
     display: flex;
     align-items: flex-end;
     justify-content: center;
     height: 4vw;
}

#linksPaginas {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     border: 5vw;
     flex-grow: 2;
}

#tituloPagina {
     padding-left: 2vw;
}


#tituloPagina div {
     background-color: red;
     height: 1.5vw;
     padding: 2vw;
     margin-top: 1.3vw;
     display: flex;
     align-items: center;
   }

#tituloPagina p {
     font-weight: bold;
}

#containerTipografia {
     padding-top: 5vw;
}

#containerTipografia div {
     background-repeat: no-repeat;
     background-size: cover;
}



#containerAux {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 6vw 0vw;
}

#containerTipografia2 {
     background-color: red;
     width: 50%;
}

#imageTipografia img {
     width: 35vw;
     height: 12vw;
     padding: 6vw 4vw;
}

#infoTipografia {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     width: 50%;
}


#titulTipografia {
     color: black;
     font-weight: bold;
     padding: 1vw 3vw;
     font-size: 3vw;
     text-align: left;
}

#titulTipografia p {
     margin: 0;
}

#textoTipografia {
     color: black;
     font-size: 1.2vw;
     padding: 0vw 2vw;
     text-align: justify;
}

#tituloCharlas {
     color: black;
     font-weight: bold;
     padding: 1vw 3vw;
     font-size: 3vw;
     text-align: left;
}

#tituloCharlas p {
     margin: 0;
     text-align: right;
}

#containerCharlas {
     padding: 1vw 3vw;
}

#containerCharlas div {
     background-repeat: no-repeat;
     background-size: cover;
}

#containerAux2 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;

     padding: 0vw 0vw;
}

#imageCharlas {
     width: 50%;
     height: 30vw;
}

#imageCharlas img {
     background-color: red;
     width: 100%;
}

#textoCharlas {
     color: black;
     font-size: 1.2vw;
     padding: 0vw 2vw;
     text-align: right;
}

#containerColombia {
     padding: 1vw 3vw;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

     padding: 0vw 5vw 3vw 5vw;
}

#infoColombia {
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 3vw;
}

#tituloColombia {
     color: black;
     font-weight: bold;
     padding: 0vw 1vw;
     font-size: 3vw;
     text-align: right;
     width: 50%;
}

#tituloColombia p {
     margin: 0;
     text-align: right;
}

#textoColombia {
     color: black;
     font-size: 1.5vw;
     padding: 0vw 2vw;
     font-weight: bold;
     text-align: left;
     width: 50%;
}

#textoColombia p {
     margin: 0;
}

#imageColombia {
     display: flex;
     justify-content: center;
     height: 28vw;

}








#containerHorarios {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 2vw 0vw;
}

.imageTipografia {
     width: 50%;
     padding: 0vw;
}

#image1 {
     width: 95%;
     height: 30vw;
     padding-right: 2.5vw;
}

#image2 {
     width: 95%;
     height: 30vw;
     padding-left: 2.5vw;
}

/*-----------------------------------------------------*/
/* configuracion de barra inferior*/
.barraInferior {
     height: 6vw;
     background-color: rgb(0, 0, 0);
     color: black;
     width: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-style: solid;
     border-left-width: 0vw;
     border-top-width: 0.18vw;
     border-right-width: 0vw;
     border-width: 0%;
     border-color: #bebebe;
}

.objetosBarraInferior {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     border: 4vw;
     flex-grow: 2;
}

.redes {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border: 6vw;
     flex-grow: 2;
}

.integrantes {
     padding: 0vw 6vw;
     margin: 0;
}

.integrantes p {
     font-size: 1.5vw;
     margin: 0;
}

#logoWokBarraInferior {
     width: 15vw;
}

.redes div {
     padding: 1vw;
}

.redes div img {
     width: 4vw;
}