/* Configuracion para toda la pagina */
html {
     font-family: 'Puritan', sans-serif;
     font-size: 2vw;
     color: white;
}

/* Configuracion para todo el body */
body {
     margin: 0%;
     border: 0%;
     background-color: #efefef;
     padding: 4% 0% 0% 0%;
}

.link {
     text-decoration: none;
     font-size: 100%;
     color: rgb(255, 255, 255);
     padding: 1em;
}

/* Configuracion para la barra superior */
#superior {
     position: fixed;
}

#barraSuperior {
     background-color: hwb(0 0% 100%);
     height: 6vw;
     position: fixed;
     width: 100%;
     top: 0%;
     left: 0%;
     border-style: solid;
     border-left-width: 0px;
     border-top-width: 0px;
     border-right-width: 0px;
     border-width: 0vw 0vw 0.3vw 0vw;
     border-color: #bebebe;
     padding: 1vw 0vw;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#logoMenu {
     padding: 0vw 2vw;
     width: 5vw;
     height: 4vw;
}

#logoWokBarraSuperior {
     width: 12vw;
}

.iconoWOK {
     display: flex;
     align-items: flex-end;
     justify-content: center;
     height: 4vw;
}

#linksPaginas {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     border: 5vw;
     flex-grow: 2;
}

#comodin {
     height: 0vw;
}

#tituloPagina {
     padding-left: 2vw;
}

#tituloPagina div {
     background-color: red;
     height: 1.5vw;
     padding: 2vw;
     margin-top: 4vw;
     display: flex;
     align-items: center;
}

#tituloPagina p {
     font-weight: bold;
}


#menu {
     padding: 12vw 0vw 4vw 0vw;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
}

#imagenMenu img {
     width: 22vw;
     height: 32vw;
}

#tituloMenu {
     background-color: red;
     height: 10vw;
     width: 30vw;
     margin-left: 10vw;
     display: flex;
     align-items: center;
}

#tituloMenu p {
     font-size: 4vw;
     font-weight: bold;
     padding-left: 3vw;
}

#containerPrincipios {
     padding: 4vw 0vw 0vw 0vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

#titulo {
     text-align: center;
     padding: 0vw;
}

#cuadrosPrincipios {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     padding: 2vw;
     flex-wrap: wrap;
}

#cuadrosPrincipios div {
     padding: 2vw 1vw;
}

.cuadro {
     background-color: red;
     width: 5vw;
     height: 1vw;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     flex: 1;
     min-width: 250px;
}

#cuadro p {
     color: black;
}

#imagePrincipios img {
     width: 100%;
     height: 26vw;
}

#titulo p {
     padding: 0vw;
     margin: 0vw;
     color: black;
     font-weight: bold;
     font-size: 4vw;
}

#platosRecomendados {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     padding: 3vw;
}

.platoRecomendado img {
     width: 20vw;
     height: 26vw;
}

.platoRecomendado div {
     padding: 1vw;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

.newAux {
     display: flex;
     justify-content: center;
     align-items: center;
}

.botonComprar {
     background-color: red;
     width: 13vw;
     height: 1vw;
     display: flex;
     justify-content: center;
     align-items: center;
}

.botonComprar p {
     font-size: 1.5vw;
}

#containerComoPedir {
     padding: 4vw 0vw;
     display: flex;
     flex-direction: column;
}

#containerTituloRojo {
     display: flex;
     justify-content: flex-end;
     padding-bottom: 3vw;
}

#tituloRojo {
     background-color: red;
     display: flex;
     align-items: center;
     width: 35vw;
     height: 8vw;
}

#tituloRojo p {
     font-size: 3.5vw;
     padding: 2vw;
}


#containerInfoComoPedir {
     display: flex;
     justify-content: flex-end;
     padding-bottom: 3vw;
}

#cajaNegraTextoBlanco {
     background-color: rgb(0, 0, 0);
     display: flex;
     align-items: center;
     width: 80vw;
     height: 30vw;
}

#cajaNegraTextoBlanco {
     font-size: 2vw;
     padding: 5vw;
}

#containerZonasDeCobertura {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     padding: 0;
}

.newAux2 {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 28vw 20vw 2vw 20vw;
     background-image: url('images/domicilios/finDomicilios.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0vw 2vw 2vw 4vw;
}

.botonComprar {
     padding: 1vw 3vw;
}



/*-----------------------------------------------------*/
/* configuracion de barra inferior*/
.barraInferior {
     height: 10vw;
     background-color: rgb(0, 0, 0);
     color: black;
     width: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-style: solid;
     border-left-width: 0vw;
     border-top-width: 0.18vw;
     border-right-width: 0vw;
     border-width: 0%;
     border-color: #bebebe;
}

.objetosBarraInferior {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     border: 4vw;
     flex-grow: 2;
}

.redes {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border: 6vw;
     flex-grow: 2;
}

.integrantes {
     padding: 0vw 6vw;
}

.integrantes p {
     font-size: 1.8vw;
}

#logoWokBarraInferior {
     width: 15vw;
}

.redes div {
     padding: 1vw;
}

.redes div img {
     width: 4vw;
}